### Задание 0 (разминка)

Даны два списка `a` и `b` (см. ниже).
    
1. Выведите на экран первый элемент списка `a`, третий элемент списка `a`, последний элемент списка `a`.
2. Добавьте в список `b` элемент 7 (просто допишите в конец).
3. Замените пятый элемент списка `a` на число 8.
4. Создайте список `merged`, который включает в себя все элементы списка `a` и списка `b`.
5. Создайте новый список `с`, который получается заменой последнего элемента списка `a` на число 100. Сам список `a` измениться не должен!

In [1]:
a = [1, 0, 9, 12, 18, 34, 89, 91, 33, 127]
b = [2, 8, 9, 11, 76, 25, 44, 35]

In [5]:
print(a[0])
print(a[1])
print(a[9])

1
0
127

In [10]:
merged = a,b # сохранили список a,b в megred
print (megred)

NameError: ignored

### Задание 1 (девочковое)

Есть список имен:

In [12]:
girls = ["Иветта", "Виолетта", "Кассандра", "Вирджиния", 
         "Амелия", "Розамунда", "Янина", "Беатриса"]

Используя список `girls`, выведите на экран следующие списки:

    ["Виолетта", "Кассандра", "Вирджиния", "Амелия"]
    ["Вирджиния", "Амелия", "Розамунда", "Янина", "Беатриса"]
    ["Иветта", "Виолетта", "Вирджиния", "Амелия"]
    ["Кассандра", "Амелия", "Розамунда"]

In [19]:
print (girls[1:5])
print (girls[3:])
print (girls[0:2], girls[3:5])
print (girls[2:3], girls[4:6])

['Виолетта', 'Кассандра', 'Вирджиния', 'Амелия']
['Вирджиния', 'Амелия', 'Розамунда', 'Янина', 'Беатриса']
['Иветта', 'Виолетта'] ['Вирджиния', 'Амелия']
['Кассандра'] ['Амелия', 'Розамунда']

In [13]:
print(girls[3:])

['Вирджиния', 'Амелия', 'Розамунда', 'Янина', 'Беатриса']

### Задание 2 (поэлементное) 

Дан список `L`. Выведите на экран (последовательно, с новой строчки): 

* все элементы списка `L`
* логарифмированные значения элементов списка `L`

In [20]:
L = [12, 3, 8, 125, 10, 98, 54, 199]

In [21]:
for i in L:
    print(i)

12
3
8
125
10
98
54
199

In [24]:
L2 = []
import math
for i in L:
     L2.append(math.log(i,10))
print (L2)

[1.0791812460476247, 0.47712125471966244, 0.9030899869919434, 2.0969100130080562, 1.0, 1.9912260756924949, 1.7323937598229684, 2.2988530764097064]

Замените пятый элемент списка `L` на 0. Проделайте те же операции, что и раньше. Объясните, почему получаются такие результаты.

### Задание 3 (демографическое)

В списке `age` сохранены значения возраста респондентов: 

    age = [24, 35, 42, 27, 45, 48, 33]
    
Создайте список `age2`, в котором будут храниться значения возраста, возведенные в квадрат.

**Подсказка:** используйте цикл *for*.

In [26]:
age = [24, 35, 42, 27, 45, 48, 33]
age1 = []

In [27]:
for i in age:
    age1.append(i*i)
    print(i)

24
35
42
27
45
48
33

### Задание 4 (игровое)

Питон просит пользователя загадать (ввести с клавиатуры) целое число $k$ от 1 до 10. Питон берет это число $k$ и выводит на экран $k$-тый элемент списка `numbers`, причем $k$-ый элемент в привычном понимании, в нумерации, которая начинается с единицы.  

Список `numbers`:

In [28]:
numbers = [1, 5, 6, 8, 10, 21, 25, 1, 0, -9, 9]

**Пояснение:**
    
*Входные данные:*

    Введите целое число от 1 до 10: 3
    
*Выходные данные:*

    6

In [30]:
a= int(input ("Введите целое число от 1 до 10: "))
print (numbers[a])

Введите целое число от 1 до 10: 2
6

### Задание 5 (числовое)

У питона есть набор любимых чисел.

    favorites = [3, 7, 11, 23, 18, 48, 81]

Напишите программу, которая просит пользователя ввести целое число, и если оно нравится питону, на экран будет выводиться сообщение: "Мое любимое число!", если нет ‒ "Эх, ну почему?".

*Подсказка:* чтобы проверить, принадлежит ли некоторый объект элементам списка, можно воспользоваться оператором *in*.

In [31]:
favorites = [3, 7, 11, 23, 18, 48, 81]

In [42]:
a= int(input())
if a in favorites:
    print("Мое любимое число")
else:
   print("Эх, ну почему?")

3
Мое любимое число

### Задание 6 (четное)

Напишите программу, которая просит пользователя ввести число и, если оно чётное, выводит на экран сообщение: "Это число чётное", если нечётное ‒ "Это число нечётное".

*Подсказка:* используйте оператор `%` для определения остатка от деления.

In [46]:
a = int(input())
if a % 2 == 0:
  print ("Четное число")
else:
  print('Нечентное число')

5
Нечентное число

### Задание 7 (музыкальное)

Напишите программу, которая принимает на вход список слов такого вида:

    words = ["Speak ","to", "me ", "of", "Florence" ,"And ", "of", "the", "Renaissance"]

а возвращает список

    words_clean = ["speak", "to", "me", "of", "florence", "and", "of", "the", "renaissance"]

Другими словами, программа убирает пробелы в словах и приводит все слова к нижнему регистру. Эту задачу можно решить через циклы, но в Python есть такая полезная вещь как списковые включения. Они работают быстрее, чем циклы, и создавать новые списки на основе старых очень удобно. Прочитать про них можно [здесь](http://pythontutor.ru/lessons/lists/#section_3) и [здесь](https://nbviewer.jupyter.org/github/allatambov/Py-programming-3/blob/master/20-04/lecture-lists-contd.ipynb).

**Подсказка:** запросите `help()`  по  методам `.strip()` и `.lower()`.

In [54]:
words = ["Speak ","to", "me ", "of", "Florence" ,"And ", "of", "the", "Renaissance"]

In [58]:

a = [words[i].strip() for i in range(len(words))]
a = [a[i].lower() for i in range(len(a))]
a

['speak', 'to', 'me', 'of', 'florence', 'and', 'of', 'the', 'renaissance']

### Задание 8 (секретное)

Напишите программу, которая запрашивает у пользователя пароль, и далее:

- если пароль верный, выводит на экран сообщение "Login success".
- если пароль неверный, выводит на экран сообщение "Incorrect password, try again!" до тех пор, пока пользователь не введет верный пароль.

Считайте, что верный пароль программе известен, то есть уже сохранен в некоторой переменной.

In [57]:
password = "hsepassword"
attempt = input("Enter you password: ")

while attempt != password:
    print("Incorrect password. Try again!")
    attempt = input("Enter you password: ")
print("Login success")

Enter you password: 123
Incorrect password. Try again!
Enter you password: 5645
Incorrect password. Try again!
Enter you password: 1222
Incorrect password. Try again!
Enter you password: 0000
Incorrect password. Try again!
Enter you password: hsepassword
Login success

### Задание 9 (функциональное)

Напишите функцию `nums()`, которая принимает на вход целое число, а возвращает список из двух элементов: целое число, предшествующее принятому на вход, и число, следующее за ним.

**Пример:**

*Входные данные:*

    7

*Выходные данные:*

    [6, 8]

In [60]:
def nums():
    a = int(input())
    b = a -1
    c = a+1
    return b,c 
n = nums()
n

2

(1, 3)

### Задание 10 (счетное)

Напишите функцию `my_log()`, которая принимает на вход список чисел, и возвращает список их натуральных логарифмов. Если число меньше или равно 0, на его месте в возвращаемом списке должно быть None.

**Пример:**

*Входные данные:*

    [1, 3, 2.5, -1, 9, 0, 2.71]

*Выходные данные:*

    [0.0,
     1.0986122886681098,
     0.9162907318741551,
     None,
     2.1972245773362196,
     None,
     0.9969486348916096]

### Задание 11 (зимнее)

Напишите функцию `str_lower()`, которая принимает на вход строку (набор слов через пробел), а возвращает список ее элементов в нижнем регистре. 

**Пример:**

*Входные данные:*

    "В лесу родилась ёлочка В лесу она росла"

*Выходные данные:*

    ['в', 'лесу', 'родилась', 'ёлочка', 'в', 'лесу', 'она', 'росла']
    
*Подсказка:* для разбиение строки на части, познакомьтесь с методом `.split()` – запросите по нему `help()`.